<p id="notice"><%= notice %></p>

<h1>Recipients</h1>

<table>
  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= link_to recipient.full_name, recipient %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipient', new_recipient_path %>
